*{
    margin: 0px;
    padding: 0px;
}
.tabsection{
  
    background-color: black;
    padding: 4.5rem 0 4.5rem;
}
.tabsection-heading h3{
    color: white;
    font-size: 3rem;
    font-weight: 900;
   z-index: 1;
}
.icon-toggle{
    color: white;
  
}

.another-nav{
    background-color: rgb(42, 41, 41);
  
}

.another-nav-item p{
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
}

.question{
    font-size: 1.5rem;
    font-weight: 700;
  
}



.icon-toggle{
    color: white;

}

.another-nav{
    background-color: rgb(42, 41, 41);

}

.another-nav-item p{
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
}


.question{
    font-size: 1.5rem;
    font-weight: 700;
  
}

@media (max-width: 991.98px) {
    .question{
        font-size: 20px;
      
    }

}